.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/phonegap-2.9.1
/Project/Java (Cross Platform)/Power of God/src/power/of/god/User/Database.java
/godispower.us
Project/Android/PowerofGod/app/src/main/java/apdevelopment/powerofgod/User/Online/Database.java
Project/Windows Store/Power of God/Power of God/Power of God.Shared/Network/Database.cs
