.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/phonegap-2.9.1
/godispower.us
/Intros
/Project/Java/Power of God/dist/
/Java/Power of God Lib/build/
/Java/Power of God Lib/dist/
/Java/Power of God/dist/